/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }
 

/* ------------------------styly napříč stránkou------------------------ */
body {
    padding: 0 20px;
    margin: 0;
    background-color: #FAFAFA;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    color: #000000;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin: 60px 0px 15px 0px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #8B8B8B;
    margin: 0;
}

section {
    padding: 0;
    margin: 0;
}

/* ------------------------header------------------------ */
/* ------------------------------------------------------- */
.header-kontejner {
    display: flex;
}

.header-img {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding: 60px 0px;

}

img {
    max-width: 100%;
}



/* ------------------------sekce úvod------------------------ */
/* ---------------------------------------------------------- */
.sekce-uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carka {
    display: flex;
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin-bottom: 30px;
}

.button-kontejner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-dobrodruzstvi,
.button-plaz {
    display: flex;
    min-height: 40px;
    background-color: #748f7c;
    border-radius: 20px;
}

.button-dobrodruzstvi a,
.button-plaz a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.button-dobrodruzstvi {
    width: 195px;
    background-color: #407BFF;
    padding: 10px 30px;
    margin: 0 0 10px 0;
}

.button-plaz {
    min-width: 220px;
    background-color: #8B8B8B;
    padding: 10px 30px;
}


/* tablet */
@media screen and (min-width: 650px) {
    .popis-sekce {
        padding: 0px calc(100% / 6);
    }

    .button-kontejner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .button-dobrodruzstvi {
        margin: 0 20px 0 0;
    } 
}


/* desktop */
@media screen and (min-width: 1100px) {
    .desktop-section-top {
        display: flex;
        flex-direction: row;
        min-height: 350px;
        margin: 60px 0 60px 0;
    }

    .header-kontejner {
        order: 2;
        width: 50%;
    }

    .sekce-uvod {
        order: 1;
        width: 50%;
    }

    .header-img {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        padding: 0;
    }

    .popis-sekce {
        text-align: left;
        padding: 0;
    }
}

/* ------------------------sekce služby kanceláře------------------------ */
/* ---------------------------------------------------------------------- */
.obdelnik-kontejner {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.obdelnik {
    display: flex;
    min-height: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-bottom: 15px;

}

.obdelnik-img {
    display: flex;
    min-width: 40px;
    min-height: 45px;
    padding: 20px;
    justify-content: center;
}

.obdelnik-text {
    display: flex;
    width: 100%;
    align-items: center;
}

.obdelnik-text p {
    text-align: left;
    padding: 30px 20px;
}



/* tablet */
@media screen and (min-width: 650px) {
    .obdelnik-kontejner {
        flex-direction: row;
    }

    .obdelnik {
        min-height: 170px;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
    
    .obdelnik-img {
        padding: 40px 0 0 0;
    }
    
    .obdelnik-text p {
        text-align: center;
    }

    body {
        padding: 0;
        margin: 20px;
    }
}

/* desktop */
@media screen and (min-width: 1100px) {
    .sekce-kancelar {
        display: flex;
        flex-direction: row;
    }

    .popis-sekce.kancelar {
        order: 2;
        padding: 80px 0 0 60px;

    }
        
    .obdelnik-kontejner.kancelar {
        order: 1;
        margin: 0;

    }

    .popis-sekce.kancelar h2,
    .popis-sekce.kancelar p {
        text-align: left;

    }
}

/* ------------------------sekce služby na místě------------------------ */
/* --------------------------------------------------------------------- */
.sekce-misto {
    padding-bottom: 60px;
}

/* desktop */
@media screen and (min-width: 1100px) {
    .sekce-misto {
        display: flex;
        flex-direction: row;
        padding: 60px 0 0 0;
    }

    .popis-sekce.misto {
        order: 1;
        padding: 80px 60px 0 0;
        
    }
        
    .obdelnik-kontejner.misto {
        order: 2;
        margin: 0;
        
    }

    .popis-sekce.misto h2,
    .popis-sekce.misto p {
        text-align: left;
    }

    h2 {
        margin: 0 0 15px 0;

    }

    body {
        padding: 0 80px 60px 80px;
        margin: 0;
    }
}
